@model BooksApp.Models.Book

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deleting Book</h2>

<h3>Would you like to continue?</h3>
<div class="container p-3 my-3 border">
    <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PublishngYear)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PublishngYear)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Style)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Style)
            </dd>
        </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input class="btn btn-primary" type="submit" value="Yes" />
                <a class="btn btn-danger" asp-action="Index">No</a>
            </form>

 </div>